/.idea/
/.dart_tool/
/build/
analysis_options.yaml
/android/.gradle/
/example/.dart_tool/
/example/android/.gradle/
/example/.kotlin/
/example/build/
/android/local.properties
/example/.dart_tool/extension_discovery/vs_code.json
/example/.dart_tool/package_config.json
/example/.dart_tool/package_graph.json
/example/.flutter-plugins-dependencies
/example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java       
/example/android/local.properties